<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <%- messages() %>
<h3><%- message.message_subject %></h3>
<textarea readonly cols="60" rows="30"><%- message.message_body %></textarea>
<p><%- message.message_created %></p>
<form action="<%- message.message_id %>" method="post">
  <button type="submit">Mark as read</button>
</form>
<form action="archive/<%- message.message_id %>" method="post">
  <button type="submit">Archive</button>
</form>
<a href="/account/inbox/reply/<%- message.message_id %>">Reply</a>
<a href="/account/inbox">Return to inbox</a>
